language: python
python: 3.5
before_script:
- sudo wget http://repo.mosquitto.org/debian/mosquitto-repo.gpg.key
- sudo apt-key add mosquitto-repo.gpg.key
- echo "deb https://repo.mosquitto.org/debian stretch main" | sudo tee -a /etc/apt/sources.list
- sudo apt-get update -qq
before_install:
- sudo apt-get -y install python3-pip mosquitto mosquitto-clients
install:
- pip3 install paho-mqtt
- pip3 install RPi.GPIO
script:
- pytest
notifications:
  slack:
    secure: dahzspiFcjmOwoBN9UVixMR8QhrHo5/uRi+y1ELzq/u/uIEM2BdqXEyPSegb0F84rF2g3aFLA5b/FwtlJq4R9boIYYhUudRq4IKqPtMtwrH7riJY35pM2UiH/HUZnTyO+bupdyUAyKbnSByh9Cv9x/U4hKg5QP7+iJ20Xg8nVFtsj/bgIwRDE5DXe+jXSYwVGGP6OnaH+dQu9X2g7pDrNKx5hQmTZ3aq0kICrsUevObiOFHiLSnhI6DT0fLs/wUEMwROnXuvJW174cIWgganaWT3QMLc49SLnxLVNo6ALAaZX5WowodhLO6q5cUVv9GkOnGeb/Rl/Iz0lmoyaeuXM+nIjt33uJxltbANhq8GBGbqwHMnTLPNE9EkDewpKDRz5zub8D0VuDxUQQOsXL8f76FOinxWV2GHn0T9PgotMdsyDQH3elPv9gGARf5WLuXTrxK1NF4aX/Gltp1ZPxChC2BWqCboTK8Jz8zGkamIMLc/UFA5TJBPb7OtlR8/2jdgp+2GfRQgrEj1vTcY5nO3JG/g1G7kFRD0rVI3N3f9OPsx8W/j8BFYnAmv5Y+QmZjRGtIZHyHM1kPWPWi/CKscgX4DB85Z/dMzAVdgSxogAmVTnR69K+xbc9BZDMpngOP1dDlzhVm7nFJJSsSk+1IfP9HzI6VwkniaO6spkuXs2A4=
